.container {
    margin: 0 auto;
}

.encabezado {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

.encabezado__descripcion {
    line-height: 1.7;
}

.encabezado__imagen {
    width: 80vw;
}

.results1__texto {
    display: flex;
    flex-direction: column;
}

.results1__titulo {
    text-align: start;
}

.results1__descripcion {
    text-align: start;
    line-height: 1.7;
}

.results1__cuadros {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}

.container1 {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    width: 100%;
    height: 35vh;
}

.container1__logo {
    text-align: start;
    margin-top: 2vh;
    margin-left: 4vw;
}

.recuadro {
    background-color: var(--gray-color);
    border-radius: var(--border-radius);
    width: 35vw;
    height: 13vh;
    margin-top: 8vh;
}

.recuadro-titulo {
    font-size: 1.25em;
    font-weight: 800;
    text-align: start;
    margin: 0;
    padding-top: 1vh;
    padding-left: 2vw;
}

.recuadro-texto {
    text-align: start;
    margin: 0;
    padding-top: 2vh;
    padding-left: 2vw;
}

.services {
    padding-top: 10vh;
}

.services__contenido {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.services__imagen img {
    width: 80%;
}

.services__titulo {
    text-align: start;
}

.services_descripcion {
    text-align: start;
    line-height: 1.7;
}

.services__cuadros {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.services__cuadros1 {
    display: flex;
    flex-direction: column;
}

.container2 {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 19vh;
}

.container2_titulo {
    font-size: 1.25em;
    margin: 0;
    text-align: start;
    padding-left: 4vw;
    padding-top: 2vw;
}

.container3 {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 19vh;
}

.container3_titulo {
    font-size: 1.25em;
    margin: 0;
    text-align: start;
    padding-left: 4vw;
    padding-top: 2vw;
}

.team {
    padding-top: 10vh;
}

.team__titulo {
    text-align: start;
}

.team__descripcion {
    text-align: start;
    line-height: 1.7;
}

.team__diseño {
    padding-top: 10vh;
}

.team__cuadros {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.c4_ubicacion {
    margin-top: 15vh;
}

.cuadro-titulo {
    color: var(--white-color);
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 28px;
}

.results2 {
    padding-top: 10vh;

}

.results2__titulo {
    text-align: start;
}

.results2__descripcion {
    text-align: start;
    line-height: 1.7;
}

.results2__clientes {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.container5 {
    background-color: var(--white-color);
    height: 250px;
    border-radius: 10px;
    gap: 75px;
}

.c5__titulo {
    font-size: 1.1em;
}

.container5-imagen {
    width: 90%;
    margin-top: 14vh;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
}

@media (width >=768px) {

    .encabezado {
        display: flex;
        flex-direction: row;
        padding-top: 20vh;
    }

    .encabezado__descripcion {
        width: 25vw;
    }

    .encabezado__imagen {
        width: 28vw;
    }

    .results1__texto {
        display: flex;
        flex-direction: row;
    }

    .results1__titulo {
        width: 35vw;
    }

    .results1__descripcion {
        padding-top: 10vh;
        padding-left: 5vw;
        width: 50vh;
    }

    .results1__cuadros {
        display: flex;
        flex-direction: row;
    }

    .container1 {
        width: 25vw;
        height: 30vh;
    }

    .recuadro {
        width: 11.5vw;
        height: 10vh;
    }

    .container1__logo {
        margin-left: 1vw;
    }

    .recuadro-titulo {
        font-size: 1.8em;
        padding-top: 1vh;
        padding-left: 1vw;
    }

    .recuadro-texto {
        padding-left: 1vw;
    }

    .services {
        padding-top: 20vh;
    }

    .services__contenido {
        display: flex;
        flex-direction: row;
    }

    .services__imagen {
        align-items: start;
    }

    .services__imagen img {
        width: 20vw;
    }

    .services__titulo {
        width: 40vw;
    }

    .services_descripcion {
        width: 25vw;
    }

    .services__cuadros {
        width: 40vw;
    }

    .services__cuadros1 {
        display: flex;
        flex-direction: row;
    }

    .container2 {
        height: 25vh;
        width: 19vw;
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }

    .container2_titulo {
        padding-left: 2vw;
        padding-top: 2vh
    }

    .container3 {
        height: 25vh;
        width: 39vw;
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }

    .container3_titulo {
        padding-left: 2vw;
        padding-top: 2vh;
    }

    .team {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
    }

    .team__titulo {
        width: 40vw;
    }

    .team__descripcion {
        margin-left: 40vw;
        width: 30vw;
    }

    .team__diseño {
        margin: auto;
        width: 60vw;
        padding-top: 10vh;
    }

    .cuadro-titulo {
        font-size: 1.5em;
        padding-top: 7.5vh;
    }

    .results2 {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
    }

    .results2__titulo {
        width: 40vw;
    }

    .results2__descripcion {
        margin-left: 40vw;
        width: 30vw;
    }

    .results2__clientes {
        display: flex;
        flex-direction: row;
        gap: 3vh;
    }


    .container5 {
        background-color: var(--white-color);
        width: 39vw;
        height: 25vh;
        border-radius: 10px;
    }

    .c5__titulo {
    font-size: 1.5em;
}

    .container5-imagen {
        width: 90%;
        margin-top: 10vh;
        margin-left: 35px;
        display: flex;
        justify-content: space-between;
    }
}